*{padding: 0; margin: 0; box-sizing: border-box;}


body{
    background-color: #e90055d5;
}


.imagem{
    display: flex;
    justify-content: center;
}
.img{
    width: 100px;
    
    
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
.card{
    width: 400px;
    height: 500px;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    flex-wrap: wrap;
    box-shadow: 4px 4px 18px black;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.itens{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    
}

.button{
    width: 128px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #E90054;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 10px black;
}